{% extends "layout.html" %}
{% block content %}
    
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <div style="padding-top:8%; background:rgba(255,255,255, 0.6);">
        <div class="container2" style="padding:20px;">
            
            <h2 style="margin-left: 6%;margin-bottom: 5%;">
                NLP Model Statistics
            </h2>
            <div class="row marginLeft">
                <div class="col-lg-4" style="border-style:none solid none none; border-color: #DCDCDC;">
                    <h3>
                        General Statistics
                    </h4>


                    <div class="container">
                        <p><b>Number of training data:  </b>{{data["no_of_training_data"]}}</p>
                        <p><b>Average Accuracy:  </b>{{data["accuracy"]}}</p>
                        <p><b>Total Number of Labels:  </b>{{data["totalLabels"]}}</p>
                        <p><b>Number of Files uploaded <br>(Manual Check):  </b>{{data["total_manual_check_data"]}}</p>
                        <p><b>Number of Manual Checks Completed:  </b>{{data["checked_count"]}}</p>
                        <p><b>Number of Files unchecked:</b>  {{data["files_unchecked"]}}</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <ul class="nav  nav-tabs" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-container223-tab" data-toggle="pill" href="#pills-container223" role="tab" aria-controls="pills-container223" aria-selected="true">Manual</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-container222-tab" data-toggle="pill" href="#pills-container222" role="tab" aria-controls="pills-container222" aria-selected="false">Prediction</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-container224-tab" data-toggle="pill" href="#pills-container224" role="tab" aria-controls="pills-container224" aria-selected="false">Accuracy</a>
                        </li>
                      </ul>
					<div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-container223" role="tabpanel" aria-labelledby="pills-container223-tab">
                        {% include 'container223.html'%}</div>
                        <div class="tab-pane fade" id="pills-container222" role="tabpanel" aria-labelledby="pills-container222-tab">
                        {% include 'container222.html'%}</div>
                        <div class="tab-pane fade" id="pills-container224" role="tabpanel" aria-labelledby="pills-container224-tab">
                        {% include 'container224.html'%}</div>
                      </div>
				</div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>
                {% if title %}
                    <title>NLP Labeller - {{ title }}</title>
                {% else %}
                    <title>NLP Labeller</title>
                {% endif %}
            </h1>
        </div>
    </div>
    <script>

document.addEventListener('DOMContentLoaded', function () {
    var options = {
        chart: {
            type: 'spline'
        },
        series: [{}]
    };
    $.ajax({  
        url: '/trained_stats',  
        success: function(data) {
            //options.series[0].data = data;
            //Highcharts.Chart('container', options);
		Highcharts.chart('container222', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Prediction of Labels'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Classification',
        colorByPoint: true,
        data: data
    }]
});

        }  
    });
	  var options = {
        chart: {
            type: 'spline'
        },
        series: [{}]
    };
    $.ajax({  
        url: '/verified_stats',  
        success: function(data) {
            //options.series[0].data = data;
            //Highcharts.Chart('container', options);
		Highcharts.chart('container223', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Manual Labels'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Classification',
        colorByPoint: true,
        data: data
    }]
});

        }  
    });


    $.ajax({  
        url: '/accuracy_stats',  
        success: function(data) {
            //options.series[0].data = data;
            //Highcharts.Chart('container', options);
			const chart = Highcharts.chart('container224', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Accuracy'
            },
            xAxis: {
                categories: ['Documents']
            },
            yAxis: {
                title: {
                    text: 'accuracy'
                }
            },
            series: [{
                name: 'Correct label',
                data: [data.matched]
            }, {
                name: 'Total label',
                data: [data.total]
            }]
        });

        }  
    });



});
		</script>

{% endblock content %}
