{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid" style="padding:20px;">
        <div class="container">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">Transport within Singapore is mainly land-based. Many parts of Singapore, including islands such as
                Sentosa and Jurong Island are accessible by road. The other major form of transportation within Singapore is rail:
                the Mass Rapid Transit which runs the length and width of Singapore, and the Light Rail Transit which runs within
                a few neighbourhoods. The main island of Singapore is connected to the other islands by ferryboat services.</p>
            <p>
            <hr class="my-4">
            <p>There are two bridges which link Singapore to Malaysia – the Causeway, and the Second Link. The Singapore Changi Airport is a major aviation hub in Asia, and Singapore is a major transshipment port.</br></br>
                <h3>Did you know?</h3>
McKinsey’s Urban Transportation report rank Singapore's transport system world's best overall based on five criteria - availability, affordability, efficiency, convenience, sustainability.</p>
        </div>
    </div>
    <div class="container-fluid">
        <h1>

        </h1>
    </div>
{% endblock content %}