{% extends "layout.html" %}
{% block content %}
<style>
    .upload_btn:hover{
        filter:  brightness(1.1);
    }
</style>
    <div style="padding-top:8%; background:rgba(255,255,255, 0.6);margin-right:-100px;">
        <div class="container" style="padding-top:20px;width:150%;">
            <div class="row">
                <div class="col-lg-10">
                    <table id="example" class="display">
                        <thead>
                            <tr>                                
                                <th>PDF Name</th>
                                <th>Label Attached</th>
                                <th>Confidence Level</th>
                                <th>Date of Upload</th>
                                <th>Manual Check</th>
                                <th>Verified Label</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>PDF Name</th>
                                <th>Label Attached</th>
                                <th>Confidence Level</th>
                                <th>Date of Upload</th>
                                <th>Manual Check</th>
                                <th>Verified Label</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-lg-2" style="margin-top:-15px;">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 style="margin-top:15px;margin-left: -15%;">Upload PDF</h5>
                        </div>
                        <div class="col-lg-2">
{#                            <form action="/upload" method="POST" enctype="multipart/form-data">#}
                            <div class="form-group" style="margin: 0 -5px -0px 5px">
                                <input class="upload_btn" style="font-family: Verdana;margin-top:14px;margin-left:-29px; color:#265286; border:none;
                                                border-radius:4px; font-size: 14px; padding:5px 10px 5px 10px;
                                                background-color:#95D1F3;; cursor:pointer" id="upload-btn" type = "submit" value = "Upload" >
                            </div>
{#                        </form>#}
                        </div>
                    </div>
                    <div class="row">
                        <meta charset="UTF-8">
                        {{ dropzone.load_css() }}
                        {{ dropzone.style('border: 2px dashed #4e70ab; margin: 2%; min-height: 80px;')  }}
                        {{ dropzone.create(action='upload_file') }}
                        {{ dropzone.load_js() }}
                        {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                                custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>
                {% if title %}
                    <title>NLP Labeller - {{ title }}</title>
                {% else %}
                    <title>NLP Labeller</title>
                {% endif %}
            </h1>
        </div>
    </div>
    <script>
    function setupData() {
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "/upload_get_data",
                    "dataType": "json",
                    "dataSrc": "data",
                    "contentType": "application/json"
                },
                "columns": [
                    { "data": "PDF_Name" ,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<a href='http://localhost:5000/view?file="+oData.PDF_Name+"'>"+oData.PDF_Name+"</a>");
        } },
                    { "data": "Label_Attached" },
                    { "data": "Confidence_Level" },
                    { "data": "DateOfUpload" },
                    { "data": "ManualCheck" },
                    { "data": "VerifiedLabel" },
                ]
            });
        });
    }
    $(window).on("load", setupData);
    </script>
{% endblock content %}
