{% extends "layout.html" %}
{% block content %}

<div class="container" style="padding-top:6.5%;"></div>
<div class="row marginLeft">
    <div class="col-lg">
        <div class="container-fluid">
			<h4>{{file}}</h4>
            <div class="container">
				<iframe frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 450px; height:550px;' src="/pdf?file=static/uploads/{{file}}" frameborder="0"></iframe>

            </div>
        </div>
    </div>
    <div class="col-sm" style="padding-top:35px;">
        <div class="progress" style="width: 100%;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80"
																									aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
				<span><span class="percentage">{{percentage}}% Completed</span><span class="grade">{{i}}/{{size}}</span></span>
            </div>
        </div>
        <div class="whiteBG text-dark container" style="padding-top:5px;font-size: 0.8rem;">
            <div class="row">
                <div class="col-sm-6">
                    <p>Suggested Label</p>
                    <p>Selected Label</p>
                    <p>CL for Suggested Label</p>
					<!--		<p>Number of test cases</p> -->
                </div>
                <div class="col-sm-6">
					<p>{{label_attached}}</p>
					<p>{{label_attached}}</p>
					<p>{{confidence_level}}</p>
					<!--  <p>28</p> -->
                </div>
            </div>

            <hr class="solid">
            
            <form>
              <div class="form-group">
                <textarea class="form-control" placeholder="Enter comments here" id="comments" rows="1"></textarea>
              </div>
            </form>

            <hr class="solid">
            <table id="otherLabels" class="display " style="width:100%">
                <thead>
                    <tr>
                        <th>Suggested Labels</th>
                        <th>Confidence Level</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-4">
                <button type="button" class="btn btn-secondary btn-invalid" type="button" data-toggle="modal" data-target="#removeFile">Invalid File</button>
            </div>
            <div class="col-sm-6" style="margin-left: 73px;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary btn-clear">Clear</button>
					<form action="/view?file={{file}}" method="post">
                    	<button type="submit" class="btn btn-secondary btn-verify">Verify</button>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <select id="choices-multiple-remove-button" placeholder="Select up to 5 tags" multiple>
                        <option value="Door">Door</option>
                        <option value="Bed">Bed</option>
                        <option value="Window">Window</option>
                        <option value="Fire Resistant Door">Fire Resistant Door</option>
                        <option value="Fire Resistant Bed">Fire Resistant Bed</option>
                        <option value="Shatter Resistant Window">Shatter Resistant Window</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
            <div class="modal-footer">
				<a href="{{ url_for('view')}}"><button type="submit" class="btn btn-primary">Submit</button></a>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     * Set up datatable
     **/
        $(document).ready(function () {
            $('#otherLabels').DataTable({
                "pageLength": 7,
                "ajax": {
					"url": "/index_get_data?file="+"{{file}}",
                    "dataType": "json",
                    "dataSrc": "data",
                    "contentType": "application/json"
                },
                "columns": [
                    { "data": "PDF_Name" },
                    { "data": "Confidence_Level" }
                ],
				"order": [[1, "desc" ]],
            });
        });
    //$(window).on("load", setupData);
</script>
{% endblock content %}
